* {
    font-family: 'Kanit', sans-serif;
}

div {
    display: block;
}

.web-page {
    text-align: center;
    align-items: center;
    background: #F1ECE1;
}

h1 {
    color: #1C335F;
    background: #F0C479;
}

.data-name {
    background: #505668;
    height: 35px;
    width: auto;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
}

.show-data-row {
    text-align: center;
    align-items: center;
    /* display: inline; */
    /* padding-top: 100px; */
}

.data {
    height: 430px;
    width: 300px;
    background: #EADCD3;
    align-items: center !important;
    justify-content: center !important;
    padding: 15px 15px 15px 15px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

.image-data img {
    height: 183px; 
    width: 218px;
    border-radius: 5px;
}

.shadow-dreamy {
    box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);
}

.text-data {   
    align-items: center !important;
    justify-content: center !important; 
}

.text-data span {
    font-size: 16px;
    color: #F0C479;
}

.text-data p {
    font-size: 16px;
    color: #1C335F;
    display: flex;
    text-align: left;
    margin: 5px 0px 0px 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 3px;
    margin-inline-end: 0px;
} 



